* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100%;
  background-color:whitesmoke;
}
.topBar {
  background-color: #374151;
  width: 100%;
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  top: 0;
}
.logobar {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 200px;
}
.searchForm {
  width: 100%;
  height: 50px;
  /* background-color: red; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
}

.inputBox {
  height: 100%;
  width: 80%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  outline: none;
  padding: 0 20px;
}
.srchBtn {
  height: 100%;
  width: 20%;
  border: none;
  outline: none;
  background-color: #ea6b62;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.imagesList {
  width: 100%;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  overflow-y: scroll;
  position: fixed;
  bottom: 55px;
  top: 115px;
  justify-content: center;
}
.imagesList::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
}

.imagesList > img {
  width: 100%;
  height: 100%;
}
.pagesBtn{
  display: flex;
  align-items: center;
  position: absolute;
  top: 565px;
  
  justify-content: center;
  gap: 5px;
  /* background-color: red; */
  width: 100%;
  
}

.next, .back{
  padding: 10px 20px;
  background-color: #ea6b62;
  color: white;
  border-radius: 5px;
  
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.srchBtn:hover, .next:hover,.back:hover  {
  background-color: #e33e33;
}
/* Mobile */
@media (max-width: 600px) {
  .imagesList {
    grid-template-columns: 1fr; 
  }
  .pagesBtn {
    top: 620px;

}
  
}
/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    .imagesList {
      grid-template-columns: repeat(2, 1fr); 
    }
    form {
        width: 600px;
      }
      .pagesBtn {
        top: 1321px;
    
    }
  }
